DATABASE_URL=postgresql://user:password@host:port/database

# Resend Email Integration
RESEND_API_KEY=
REPORT_FROM="Producción Pigmea <produccion@notificaciones.pigmea.click>"
REPORT_TO=jaalvarez@pigmea.es
REPORT_REPLY_TO=jaalvarez@pigmea.es

# External APIs
BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=
DEEPSEEK_API_KEY=
